@import 'variables'
  
header
  padding: 30px 40px
  // height: 100px

  #header-logo
    height: 40px
    width: 258px
    cursor: pointer

  // .nav-section  
  .nav-menu
    // margin-right: auto
    
    li
      height: 40px
      a
        display: inline-block
        text-transform: capitalize
        line-height: 40px
        padding: 0 35px
        cursor: pointer
      &:not(:last-child)
        border-right: 1px solid $accentColor
      &:hover
        a
          color: $accentColor
  .lang-menu
    position: relative
    width: 90px
    height: 40px
    margin-right: 15px
    cursor: pointer
    .dropdown-icon
      margin-left: 10px
    .langs-group
      display: none
      position: absolute
      left: 0
      top: 100%
      .langs-group__item
        width: 90px
        height: 40px
        padding: 0 15px
        box-sizing: border-box
        background-color: $formColor
        &:hover
          background-color: $accentColor-lighter
    &:hover
      .langs-group    
        display: block
    .active-lang
      width: 90px
      height: 40px
      padding: 0 15px
      box-sizing: border-box
      &:hover
        background-color: $accentColor-lighter

  .user-menu-group

@media (max-width: 1023px)
  header
    #header-logo
      margin-right: auto
    .nav-menu
      margin-top: 30px

@media (max-width: 767px)
  header
    padding: 16px 16px 30px
    #header-logo
      height: 30px
      width: auto
    .lang-menu
      width: 68px
      height: 30px
      margin-right: 7px
      .langs-group
        .langs-group__item
          width: 68px
          height: 30px
      .active-lang
          width: 68px
          height: 30px
      .lang-img
        width: 26px
        height: 16px
      .dropdown-icon
        width: 10px
        height: 7px
    .user-menu-group
      margin-top: 30px
    .humburger_button
      cursor: pointer
      width: 40px
      height: 40px
      background-color: $mainColor
      .hamburger_item
        display: block
        background-color: $accentColor
        width: 20px
        height: 3px
        margin-bottom: 3px
        transition: all 0.5s ease
      &.opened
        .hamburger_item:first-child
          transform: translateY(6px) rotate(135deg)
        .hamburger_item
          transform: rotate(-225deg)
        .hamburger_item:last-child
          transform: translateY(-6px) rotate(45deg)
