<article class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="title">вход</div>
    <div class="form-field">
      <input type="email" placeholder="E-mail" formControlName="email">
    </div>
    <div class="form-field">
      <input type="password" placeholder="Password" formControlName="password">
    </div>
    <div class="action-group" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="link-group">
        <a routerLink="/forgot-password">Забыли пароль?</a><a routerLink="/sign-up">Регистрация</a>
      </div>
      <button type="submit" class="primary btn-lg"[disabled]="loginForm.ivalid">Вход</button>
    </div>
  </form>
</article>