<section fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
  <div class="class1"></div>
  <div class="class2" fxLayout.lg="row wrap" fxLayout.lt-lg="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div fxLayout.lg="column" fxLayout.md="row" fxLayout.lt-md="column" xLayoutAlign="start start" fxLayoutGap="20px">
      <div class="class2_1"></div>
      <div class="class2_2"></div>
    </div>  
    <div class="class3"></div>
  </div>
</section>