@import variables

.table-group
  margin-top: 15px

  .table__left
    margin-right: 2px
    // .table__cell
    //   height: auto
  
  .table__body
    .table__row:hover
      background-color: transparent
  .table__row:not(.table__head)
    .table__cell
      // min-height: 60px
      padding-top: 12px
      line-height: 14px
      &.wide-cell
        padding-bottom: 12px

  .table__cell
    width: 91px
    &.wider-cell
      width: 279px
      justify-content: flex-start
      text-align: left
    &.wide-cell
      width: 746px
      height: auto
      justify-content: flex-start
      text-align: left

