@import variables

.table-group
  margin-top: 15px

  .table__left
    margin-right: 2px
  .table__body
    .table__row:hover
      background-color: transparent
  .table__cell
    width: 91px
    &.wider-cell
      width: 279px
      justify-content: flex-start
      text-align: left
    &.wide-cell
      padding-top: 12px
      padding-bottom: 12px
      width: 746px
      height: auto
      min-height: 40px
      justify-content: flex-start
      text-align: left

