<article class="today-page">
  <div class="container">
    <section class="card-group">
      <div class="card card-1">
        <div class="title">
          Доход
        </div>
        <div class="content single-content">
          <h1 class="value light-color">{{(todayState$ | async).totalIncomeAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h1>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-2">
        <div class="content multi-content">
          <div class="title">
            Продажи
          </div>
          <h3 class="value light-color">{{(todayState$ | async).sellsAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h3>
        </div>
        <div class="content multi-content">
          <div class="title">
            Ребилы
          </div>
          <h3 class="value light-color">{{(todayState$ | async).rebillsAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h3>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-3">
        <div class="title">
          Уникальные посетители
        </div>
        <div class="content single-content">
          <h1 class="value light-color">{{(todayState$ | async).uniqueVisitorsAmount}}
            <span> уники</span>
          </h1>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-4">
        <div class="title">
          ТОП 5 Источников
        </div>
        <div class="content single-content">
          <span class="source small-text light-color" *ngFor="let source of (todayState$ | async).sources.slice(0,5)">{{source}}</span>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-5">
        <div class="title">
          Трафик сайтов
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let site of (todayState$ | async).sitesTraffic.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/header/sites/site-{{site.name}}-light.svg">
            <div class="list-content__item__name">{{site.name}}</div>
            <div class="list-content__item__amount light-color">{{site.amount}}</div>
          </div>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-6">
        <div class="title">
          Гео - цели
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let target of (todayState$ | async).geoTargets.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/main/geo-targets/{{target.abbr}}.svg">
            <div class="list-content__item__name">{{target.name}}</div>
            <div class="list-content__item__amount light-color">{{target.amount}}</div>
          </div>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-7">
        <div class="title">
          Устройства
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let device of (todayState$ | async).deviceTypes.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/main/devices/{{device.name}}.svg">
            <div class="list-content__item__name">{{device.name}}</div>
            <div class="list-content__item__amount light-color">{{device.amount}}</div>
          </div>
        </div>
        <div class="footer" [routerLink]="['/main', 'statistic']">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-news">
        <div class="title">
          Новости
        </div>
        <div class="content light-color">
          <div class="news-date regular">{{ (todayState$ | async).lastNews.date | date:'medium'}}</div>
          <div class="news-title">{{ (todayState$ | async).lastNews.title}}</div>
          <div class="news-content regular">{{ (todayState$ | async).lastNews.excerpt}}</div>
        </div>
        <div class="footer" [routerLink]="['/main', 'news']">
          <div class="action">
            Читать
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

    </section>
    <section class="graph" fxLayout="column">
      <div class="graph__head" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div class="graph__head__name bold">График прибыли</div>
        <div class="graph__head__period">За последние 24 часа</div>
      </div>
      <div class="graph__body">
          <eaf-graph [data]="(todayState$ | async).lastDayIncomes"></eaf-graph>
      </div>
    </section>
    <section class="conversion-list">
      <div class="conversion-list__head" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div class="conversion-list__head__name bold">Последние конверсии</div>
        <div class="conversion-list__head__period">За последние 24 часа</div>
      </div>
      <div class="conversion-list__body">
        <eaf-conversion [data]="(todayState$ | async).lastDayConversions"></eaf-conversion>
      </div>
    </section>
  </div>
</article>