<article class="today-page">
  <div class="container">
    <section class="card-group">
      <div class="card">
        <div class="title">
          Доход
        </div>
        <div class="content single-content">
          <h1 class="value light-color">{{(userState$ | async).user.totalIncomeAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h1>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content multi-content">
          <div class="title">
            Продажи
          </div>
          <h3 class="value light-color">{{(userState$ | async).user.sellsAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h3>
        </div>
        <div class="content multi-content">
          <div class="title">
            Ребилы
          </div>
          <h3 class="value light-color">{{(userState$ | async).user.rebillsAmount | number: '0.2-2'}}
            <span class="currency"> USD</span>
          </h3>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-3">
        <div class="title">
          Уникальные посетители
        </div>
        <div class="content single-content">
          <h1 class="value light-color">{{(userState$ | async).user.uniqueVisitorsAmount}}
            <span> уники</span>
          </h1>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="title">
          ТОП 5 Источников
        </div>
        <div class="content single-content">
          <span class="source small-text light-color" *ngFor="let source of (userState$ | async).user.sources.slice(0,5)">{{source}}</span>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-5">
        <div class="title">
          Трафик сайтов
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let site of (userState$ | async).user.sitesTraffic.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/main/sites-traffic/{{site.name}}.svg">
            <div class="list-content__item__name">{{site.name}}</div>
            <div class="list-content__item__amount light-color">{{site.amount}}</div>
          </div>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-5">
        <div class="title">
          Гео - цели
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let target of (userState$ | async).user.geoTargets.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/main/geo-targets/{{target.abbr}}.svg">
            <div class="list-content__item__name">{{target.name}}</div>
            <div class="list-content__item__amount light-color">{{target.amount}}</div>
          </div>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-5">
        <div class="title">
          Устройства
        </div>
        <div class="content list-content">
          <div class="list-content__item" *ngFor="let device of (userState$ | async).user.deviceTypes.slice(0,3)">
            <img class="list-content__item__image" src="/assets/images/main/devices/{{device.name}}.svg">
            <div class="list-content__item__name">{{device.name}}</div>
            <div class="list-content__item__amount light-color">{{device.amount}}</div>
          </div>
        </div>
        <div class="footer">
          <div class="action">
            Подробнее
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-news">
        <div class="title">
          Новости
        </div>
        <div class="content light-color" *ngFor="let news of (userState$ | async).user.news.slice(0,1)">
          <div class="news-date">{{news.date | date:'medium'}}</div>
          <div class="news-title">{{news.title}}</div>
          <div class="news-content">{{news.content}}</div>
        </div>
        <div class="footer">
          <div class="action">
            Читать
            <span class="arrow-next"></span><span class="arrow-next"></span><span class="arrow-next"></span>
          </div>
        </div>
      </div>

    </section>
    <section class="income-graph"></section>
    <section class="conversion-list"></section>
  </div>
</article>