<article class="today-page">
  <div class="container">
    <section class="conversion-list">
      <div class="conversion-list__head" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start start">
        <div class="conversion-list__head__name">Последние конверсии</div>
        <div class="conversion-list__head__period">За последние 24 часа</div>
      </div>
      <div class="conversion-list__body">
        <eaf-conversion [data]="(userState$ | async).user.lastDayConversions" width="full"></eaf-conversion>
      </div>
    </section>
  </div>
</article>