<article class="statistic-page">
  <div class="container">

    <eaf-term-picker-panel [dropdownList]="sitesList"></eaf-term-picker-panel>

    <article class="statistic-group">
      <div class="statistic-table-group" fxLayout="row wrap">

        <div class="statistic-table-group__head" fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="statistic-table-group__head__left" fxLayoutAlign="center center">
            <img fxHide.gt-sm src="/assets/images/main/filter-icon.svg" alt="">
            <span>Фильтры</span>
          </div>
          <div class="statistic-table-group__head__right" fxLayoutAlign="center center">
            <input type="checkbox" id="customize-table">
            <label for="customize-table" fxLayoutAlign="center center">
              <span>Настройка таблицы</span>
              <img src="/assets/images/main/customize-icon.svg" alt="">
            </label>
            <div class="table-filter">
              <div class="table-filter__item" *ngFor="let field of statisticTableHeads">
                <input type="checkbox" id="{{field}}" checked (click)="onChangeTableFilter($event, field)">
                <label for="{{field}}">
                  <span class="check"></span>
                  <span>{{ field | translate}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        
        <section class="statistic-filters">
          <input type="radio" id="all-filters" checked name="filter-switcher" value="all-filters" #filterSwitcher><label for="all-filters">
            <span>{{'все' | uppercase}}</span>
          </label><input type="radio" id="selected-filters" name="filter-switcher" value="selected-filters"><label for="selected-filters">
            <span>{{'выбранные' | uppercase}}<span class="selected-filters-value" *ngIf="getSelectedFormFields()">({{getSelectedFormFields()}})</span></span>
          </label>
          <form class="statistic-filters__body" [formGroup]="allFiltersForm">
            <div class="all-filters-content">
              <div class="group-title" *ngIf="!filterSwitcher.checked && getSelectedFormFields()">{{ 'Вы выбрали:' }}</div>
              <div class="group-title" *ngIf="!filterSwitcher.checked && !getSelectedFormFields()">{{ 'Нет выбранных фильтров' }}</div>
              <ng-container *ngFor="let menu of allFilters">
                <div class="select-menu" [formGroupName]="menu.name" [ngClass]="{'selected-filters': !filterSwitcher.checked}">
                  <input type="checkbox" id="all-menu-title-{{menu.name}}">
                  <label for="all-menu-title-{{menu.name}}" class="select-menu__title" *ngIf="filterSwitcher.checked">
                    <span class="caret"></span>
                    <span>{{ 'statisticFilterPanel.'+menu.name | translate }}</span>
                  </label>
                  <label class="select-menu__title"
                    *ngIf="!filterSwitcher.checked && getSelectedFormFieldsInMenu(menu.name)">
                    <span>{{ 'statisticFilterPanel.'+menu.name | translate }}</span>
                  </label>
                  <div class="select-menu__list">
                    <ng-container *ngFor="let el of menu.filterList">
                      <ng-container [ngSwitch]="filterSwitcher.checked">
                        <div class="select-menu__item">
                          <input type="checkbox" id="all-{{menu.name}}-{{el.name}}" [checked]="el.enabled" [formControlName]="el.name">
                          <label for="all-{{menu.name}}-{{el.name}}"
                            *ngIf="filterSwitcher.checked || (!filterSwitcher.checked && allFiltersForm.get(menu.name).get(el.name).value)">
                          <span class="check"></span>
                          <span>{{el.name}}</span>
                        </label>
                      </div>
                    </ng-container>
                  </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="selected-filters-content"  *ngIf="!filterSwitcher.checked">
              <div class="filters-actions save-filters-list"  *ngIf="getSelectedFormFields() && !filtersActions.save"
                fxLayout="row" fxLayoutAlign="start center" (click)="filtersActions.save = true">
                <img src="/assets/images/main/filters-action-icon.svg" alt="">
                <span class="filters-actions__title">{{'Сохранить список фильтров в моем профиле'}}</span>
              </div>

              <div class="filters-actions" *ngIf="getSelectedFormFields() && filtersActions.save">
                <form [formGroup]="saveFiltersListForm" (ngSubmit)="onSaveFiltersListSubmit()"
                  class="save-filters-form" fxLayout="column" fxLayoutAlign="flex-start stretch">
                  <div class="form-field">
                    <input type="text" placeholder="{{ 'Введите название' }}" formControlName="name">
                    <div class="form-field__actions">
                      <span class="form-clear" (click)="saveFiltersListForm.reset()"></span>
                    </div>
                  </div>
                  <button type="submit" class="accent btn-sm" [disabled]="saveFiltersListForm.invalid">{{ 'Сохранить' }}</button>
                </form>  
              </div>
              
              <div class="filters-actions reset-filters-list" *ngIf="getSelectedFormFields()"
                fxLayout="row" fxLayoutAlign="start center" (click)="onResetSelectedFilter()">
                <img src="/assets/images/main/filters-reset-icon.svg" alt="">
                <span class="filters-actions__title">{{'Сбросить все фильтры'}}</span>
              </div>

              <div class="filters-actions user-filters-list" *ngIf="userStatisticPanelFilters">
                <div class="user-filters-list__title">{{'Мои списки фильтров:'}}</div>
                <div class="user-filter" fxLayout="row" fxLayoutAlign="start center"
                  (click)="updateAllFilters(userStatisticPanelFilters.statisticFilters)">
                  <span class="user-list__apply"></span>
                  <span class="user-list__name">{{userStatisticPanelFilters.name}}</span>
                </div>
              </div>

            </div>
          </form>
        </section>
        
        <section class="table flex-table" fxLayout="row" fxLayoutGap="2px">
          <div class="flex-table__left">
            <div class="table__head table__row">
              <div class="table__cell">{{'date' | translate}}</div>
            </div>
            <div class="table__row" *ngFor="let el of (statisticState$ | async).statistic">
              <div class="table__cell">{{el.date | date:'dd MMM y'}}</div>
            </div>
          </div>
          <div class="flex-table__body table__body">
            <div class="table__head table__row" fxLayout="row" fxLayoutGap="2px">
              <div *ngFor="let el of getStatisticTableHeads()" class="table__cell">{{el | translate}}</div>
            </div>
            <div class="table__row" *ngFor="let el of (statisticState$ | async).statistic" fxLayout="row" fxLayoutGap="2px">
              <div class="table__cell" *ngFor="let prop of getStatisticTableHeads()">{{el[prop]}}</div>
            </div>
          </div>
          <div class="flex-table__right">
            <div class="table__head table__row">
              <div class="table__cell">{{'totalIncome' | translate}}</div>
            </div>
            <div class="table__row" *ngFor="let el of (statisticState$ | async).statistic">
              <div class="table__cell">{{el.totalIncome}}</div>
            </div>
          </div>
        </section>
      </div>

      <section class="conversion-list">
        <div class="conversion-list__head" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start start">
          <div class="conversion-list__head__name">Последние конверсии</div>
          <div class="conversion-list__head__period">За последние 24 часа</div>
        </div>
        <div class="conversion-list__body">
          <eaf-conversion [data]="(consolidatedState$ | async).lastDayConversions" widthClass="full"></eaf-conversion>
        </div>
      </section>

    </article>
  </div>
</article>