@import 'mixins'
@import 'helper'
@import 'fonts'

html, body
  margin: 0
  width: 100%
  min-height: 100vh
  font-size: 18px
  line-height: 24px
  color: $mainColor
  @include regular-font()
  moz-osx-font-smoothing: grayscale
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  overflow-x: hidden

app-root
  display: flex
  flex-direction: column
  min-height: 100vh

app-footer
  margin-top: auto
h1, h2, h3, h4, h5, h6
  @include regular-font()
  font-weight: normal
  margin: 0

h1
  font-size: 36px
  line-height: 44px
  text-transform: uppercase
  text-align: center

h2
  font-size: 36px
  line-height: 44px
  text-align: center

h3
  font-size: 24px
  line-height: 30px
  text-align: center

h4
  font-size: 18px
  line-height: 24px
  text-transform: uppercase
  text-align: center

section
  padding: 0 280px


@media (max-width: 1399px)
  section
    padding: 0 210px

@media (max-width: 1023px)
  section
    padding: 0 50px

@media (max-width: 767px)
  section
    padding: 0 17px