@import variables
// FONTS
@mixin font-family($font-family)
    font-family: $font-family, Helvetica, sans-serif


@mixin light-font()
  @include font-family('Muller Light')


@mixin bold-font()
  @include font-family('Muller Bold')


@mixin regular-font()
  @include font-family('Muller Regular')


@mixin medium-font()
  @include font-family('Muller Medium')


// MEDIA QUERY

@mixin hd-screen()
  @media (min-width: 1400px)
      @content

@mixin desktop-screen()
  @media (max-width: 1399px)
      @content

@mixin tablet-screen()
  @media(max-width: 1023px)
    @content

@mixin mobile-screen()
  @media(max-width: 767px)
    @content


// LAYOUT

@mixin container-layout($height, $width)
  height: $height
  flex: 0 0 $height
  padding: 0 calc(100%/2 - $width/2)


// Triangle

.triangle-base
  width: 0
  height: 0
  display: inline-block  

@mixin triangle-top ($width, $color)
  @extend .triangle-base
  border-width: $width
  border-style: solid
  border-color: $color
  border-top-color: transparent
  border-left-color: transparent
  border-right-color: transparent

@mixin triangle-right ($width, $color)
  @extend .triangle-base
  border-width: $width
  border-style: solid
  border-color: $color
  border-top-color: transparent
  border-bottom-color: transparent
  border-right-color: transparent

@mixin triangle-bottom ($width, $color)
  @extend .triangle-base
  border-width: $width
  border-style: solid
  border-color: $color
  border-left-color: transparent
  border-bottom-color: transparent
  border-right-color: transparent

@mixin square ($width, $color)
  width: $width
  height: $width
  background-color: $color

@mixin hover($color)
  cursor: pointer
  &:hover
    background-color: $color
    
// @mixin arrow-next($width, $color)
//   width: 8px
//   height: 8px
  
.fade-to
  position: relative
  &:before, &:after
    content: ''
    position: absolute
    width: 20px
    height: 100%
    z-index: 5
  
@mixin fade-to-left-inner
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 20px
    height: 100%
    z-index: 5
    background: linear-gradient(to left,rgba(255,255,255,0), $lightColor)

@mixin fade-to-right-inner
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    right: 0
    width: 20px
    height: 100%
    z-index: 5
    background: linear-gradient(to right,rgba(255,255,255,0), $lightColor)

@mixin fade-to-right-outer
  position: relative
  &:before
    content: ''
    position: absolute
    right: -20px
    top: 0
    width: 20px
    height: 100%
    z-index: 5
    background: linear-gradient(to left,rgba(255,255,255,0), $lightColor)

@mixin fade-to-left-outer
  position: relative
  &:after
    content: ''
    position: absolute
    left: -20px
    top: 0
    width: 20px
    height: 100%
    z-index: 5
    background: linear-gradient(to right,rgba(255,255,255,0), $lightColor)