$mainColor: #2D2F45
$mainColor-lighter: #595A64

$inactiveColor: #C5CACB

$primaryColor: #287DFC
$primaryColor-darker: #1E5DBC

$accentColor-darker: #FFB200
$accentColor: #FCB528
$accentColor-midlight: #FFDC98
$accentColor-lighter: #FEF7E9

$lightColor: #fff
$dangerColor: #C52929
$formColor: #EEF2F3
$formColor-lighter: #F3F6F7

$infoColor: #808184

$placeholderColor: #6B7076

$noticeColor: #7ED321
$postColor: #FBFBFB

// Calc section
$calcPvBg: #002F5D

