<article class="postback-page">
  <div class="container">
    <div class="cards-group">

      <div class="card card-1 card-intro">
        <div class="title">
            Статистика Post Back
        </div>
        <div class="content light-color">
          <p>Посмотрите всю статистику Post Back в деталях</p>
        </div>
        <div class="footer" routerLink="/main/discount">
          <div class="action">
            Подать заявку
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-2 card-intro">
        <div class="title">
            Как настроить Post Back
        </div>
        <div class="content light-color">
          <p>Как отправить  данные Pixel Tracking на другой ресурс</p>
        </div>
        <div class="footer" routerLink="/main/discount">
          <div class="action">
            Подать заявку
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
          </div>
        </div>
      </div>

      <div class="card card-new">
        <h4>Добавить Post Back для сайта</h4>
        <img src="/assets/images/main/postback/new-icon.svg" alt="">
      </div>

    </div>
  </div>
</article>