<article class="wrapper">
  <form class="form signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-images">
      <img class="form-logo" src="/assets/images/header/header-logo.svg" alt="" routerLink="/">
      <img class="form-close" src="/assets/images/header/icon-close-form.svg" alt="" (click)="onCloseForm()">
    </div>

    <div class="title">{{ 'registration' | translate }}</div>

    <div class="form-field">
      <input type="email" placeholder="E-mail:" formControlName="email">
      <div class="form-field__actions">

        <span class="form-required">*</span>
        <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched && !signupForm.controls['email'].errors?.required"
          class="form-error">
          Please, enter valid email address
        </div>
        <div *ngIf="signupForm.controls['email'].errors?.required && signupForm.controls['email'].touched" class="form-error">
          This field is required
        </div>

      </div>
    </div>

    <ng-container formGroupName="passwords">
      <div class="form-field">
        <input type="password" placeholder="{{ 'password' | translate }}:" formControlName="password">
        <div class="form-field__actions">

          <span class="form-required">*</span>
          <div *ngIf="signupForm.get('passwords.password').errors?.required && signupForm.get('passwords.password').touched"
          class="form-error">
            This field is required
          </div>

        </div>
      </div>

      <div class="form-field">
        <input type="password" placeholder="{{ 'repeat password' | translate }}:" formControlName="repeatPassword">
        <div class="form-field__actions">

          <span class="form-required">*</span>
          <div *ngIf="signupForm.get('passwords.repeatPassword').errors?.required && signupForm.get('passwords.repeatPassword').touched"
            class="form-error">
            This field is required
          </div>
          <div *ngIf="signupForm.get('passwords').errors?.mismatch
            && signupForm.get('passwords.repeatPassword').touched
            && signupForm.get('passwords.password').touched"
            class="form-error">
            Mismatched password
          </div>

        </div>
      </div>
    </ng-container>

    <div class="form-field">
      <input type="text" placeholder="{{ 'full name' | translate }}:" formControlName="name">
    </div>

    <div class="form-field" fxLayout="row" fxLayoutAlign="start center">
      <img class="form-field-image" src="/assets/images/auth/icq-image.svg" alt="">
      <input type="text" placeholder="ICQ:" formControlName="icq">
    </div>

    <div class="form-field" fxLayout="row" fxLayoutAlign="start center">
      <img class="form-field-image" src="/assets/images/auth/skype-image.svg" alt="">
      <input type="text" placeholder="Skype:" formControlName="skype">
    </div>

    <div class="form-field">
      <input type="text" placeholder="Promo Key:" formControlName="name">
    </div>

    <div class="action-group" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="captcha">
        <re-captcha
         (resolved)="onCaptchaResolved($event)" 
         siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" 
         size="normal" 
         formControlName="recaptcha">
        </re-captcha>
      </div>
      <button type="submit" class="primary btn-lg" [disabled]="signupForm.invalid">{{ 'registration' | translate }}</button>
    </div>
  </form>
</article>