<article class="offer-page">
  <div class="container">
    <div class="cards-group">

      <div class="cards-wrapper grid-1">

        <div class="card grid-1_1">
          <div class="title">
            Скидки
          </div>
          <div class="content light-color">
            <p>Подать заявку для доступа к генерации скидок</p>
          </div>
          <div class="footer" routerLink="/main/discount">
            <div class="action">
              Подать заявку
              <span class="arrow-next"></span>
              <span class="arrow-next"></span>
              <span class="arrow-next"></span>
            </div>
          </div>
        </div>

        <div class="card grid-1_2">
          <div class="title">
            Ниша Essay
          </div>
          <div class="content light-color">
            <p>Сервисы по написанию эссе продают студентам различные академические работы, написанные квалифицированными авторами
              фрилансерами. Наша служба поддержки работает 24/7 как для авторов, так и для клиентов...</p>
          </div>
          <div class="footer" routerLink="/main/discount">
            <div class="action">
              Подробнее
              <span class="arrow-next"></span>
              <span class="arrow-next"></span>
              <span class="arrow-next"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="card high-card grid-{{ i + 2 }}" *ngFor="let site of siteState$ | async; let i = index">
        <header fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="site-logo" [src]="site.iconLightSrc" [alt]="site.name">
          <div class="title">
            {{site.name}}
          </div>
          <p class="first-order accent-color">Первый заказ:</p>
          <p class="first-order-value light-color">{{ site.fisrtOrderPercent }}%</p>
          <p class="rebills accent-color">Ребилы:</p>
          <p class="rebills-value light-color">{{ site.rebillsPercent }}%</p>
          <img class="desktop-v-a"
           [src]="site.isDesktopVersion ? '/assets/images/header/sites/desktop-avail.svg' : ''"
            alt=""
            fxHide.xs>
          <img class="mobile-v-a"
           [src]="site.isMobileVersion ? '/assets/images/header/sites/mobile-avail.svg' : '/assets/images/header/sites/mobile-not-avail.svg'"
            alt=""
            fxHide.xs>
        </header>
        <div class="content light-color" fxLayout="row" fxLayoutAlign="space-between start">
          <p>{{site.description}}</p>
          <img [src]="site.preview" alt="site.name" fxHide.xs>
        </div>
        <div class="links-group">

          <div class="form-field" fxLayout="row" fxLayoutAlign="start center">
            <label for="cb-link">Call Back - ссылка</label>
            <div class="form-field-group" fxLayout="row" fxLayoutAlign="start start">
              <input
                #cbLink
                id="cb-link"
                class="primary-color"
                type="text"
                placeholder="Your ref_id link" [value]="getRefLink(site.name, userId$ | async)">
              <button
                type="button"
                class="main btn-sm cb-copy"
                (click)="onCopyToClipboard(cbLink.value)">
                Копировать
              </button>
            </div>
          </div>

          <div class="form-field" fxLayout="row" fxLayoutAlign="start center">
            <label for="ref-link">REF - ссылка</label>
            <div class="form-field-group" fxLayout="row" fxLayoutAlign="start start">
                <div eafDropdown class="dropdown-menu main-theme">
                  <div class="dropdown-select">
                    {{ selectedRefPages.get(site.name).name | translate }}
                  </div>
                  <ul class="dropdown-list">
                    <li class="dropdown-list__item" *ngFor="let item of refPages" (click)="onChangeRefPage(item, site.name)">
                      {{ item.name | translate }}
                    </li>
                  </ul>
                </div>
              <input id="ref-link"
                #refLink
                class="primary-color"
                type="text"
                placeholder="Your REF link"
                [value]="getRefLink(site.name, userId$ | async, selectedRefPages.get(site.name).name)">
              <button
                type="button"
                class="main btn-sm ref-copy"
                (click)="onCopyToClipboard(refLink.value)">
                Копировать
              </button>
            </div>
          </div>

        </div>
        <div class="buttons-group">
            <button type="button" class="main btn-sm">Скачать ключи</button>
            <button type="button" class="main btn-sm" (click)="onNavigateToPromoModule({navigateTo: 'static'})">Промо материалы</button>
            <button type="button" class="main btn-sm"  (click)="onNavigateToPromoModule({navigateTo: 'landing'})">Список лендингов</button>
        </div>
        <div class="icons-group" fxHide.gt-xs>
            <img class="desktop-v-a"
            [src]="site.isDesktopVersion ? '/assets/images/header/sites/desktop-avail.svg' : ''"
             alt="">
           <img class="mobile-v-a"
            [src]="site.isMobileVersion ? '/assets/images/header/sites/mobile-avail.svg' : '/assets/images/header/sites/mobile-not-avail.svg'"
             alt="">
        </div>
        <img [src]="site.preview" alt="site.name" fxHide.gt-xs>
        
      </div>

      

    </div>
  </div>
</article>