<section eafFixPanelOnTop>

  <head fxLayout="row wrap" fxLayoutAlign="start center" class="bg-main-color">
    <img [src]="(siteState$ | async).site.iconLightSrc" alt="logo">
    <div class="title accent-color">{{ (siteState$ | async).site.name }}</div>
    
    <div class="sub-title accent-color">Ваша реферальная ссылка:</div>
    
    <div class="form-field">
      <input type="text" [value]="(siteState$ | async).refLink" #refLink>
    </div>
    <button type="button" class="btn-sm main" (click)="onLinkCopy(refLink.value)">{{'Copy' | translate}}</button>
  </head>
  
  <nav class="nav-menu" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px" fxLayoutGap.xs="1px"> 
    <li class="nav-menu__item bg-form-color"  *ngFor="let navItem of navMenu"  [routerLink]="navItem.url" routerLinkActive="active"  fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center">
        <img [src]="navItem.iconSrc" [alt]="navItem.name" fxHide.sm>
        <span fxHide.xs>{{ navItem.name }}</span>
      </a>
    </li>
  </nav>
  
</section>