<head fxLayout="row wrap" fxLayoutAlign="start center" class="bg-main-color">
  <img src="/assets/images/promo/header/99logo.svg" alt="logo">
  <div class="title accent-color">99papers.com</div>

  <div class="sub-title accent-color">Ваша реферальная ссылка:</div>

  <div class="form-field">
    <input type="text" value="https://essaybox.org/?ref_id=2520" #refLink>
  </div>
  <button type="button" class="btn-sm main" (click)="onLinkCopy(refLink)">{{'Copy' | translate}}</button>
</head>
<nav></nav>
