<form class="pt-event-form" [formGroup]="ptEventForm" (ngSubmit)="onSubmit()">

  <div class="form-field">
    <label for="pt-event-details">URL и дополнительные параметры:</label>
    <textarea id="pt-event-details" type="text" placeholder="" formControlName="params"></textarea>
  </div>
  <div class="buttons-group" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
    <div class="form-field" *ngFor="let param of ptEventFormData">
      <label>{{ param.label }}</label>
      <div class="switches-group" fxLayout="row" fxLayoutAlign="start start">
        <ng-container *ngFor="let item of param.items">
          <input
            name="{{param.name}}"
            id="pt-event-{{param.name}}-{{item.id}}"
            type="radio"
            placeholder=""
            value="{{item.id}}"
            formControlName="{{param.name}}"/>
          <label for="pt-event-{{param.name}}-{{item.id}}">{{ item.name }}</label>
        </ng-container>
      </div>
    </div>
    <button type="submit" class="main btn-sm" [disabled]="ptEventForm.invalid">Сохранить</button>
  </div>

</form>
