<section class="home-1">
  <h1>
      Монетизируем<br>
      западный студенческий трафик
  </h1>
  <h1 class="accent-color">
      ДОРОГО И КАЧЕСТВЕННО!
  </h1>
  <div class="banner"></div>
  <h3>
      Самая прибыльная партнерка под зарубежный<br>
      студенческий трафик
  </h3>
  <img class="scroll-icon"src="/assets/images/home/icon-mouse.svg" alt="">
  <div class="cards-group" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="22px">
    <div class="card card-{{item.description}}" *ngFor="let item of homeSection1Cards" [ngStyle]="{backgroundImage: 'url(' + item.imgSrc + ')'}" fxFlex="0 1 auto">
      <img [src]=item.iconSrc alt="{{item.description}}">
      <div class="content light-color">
        <span *ngIf="item.badge" class="badge">{{item.badge}}</span>
        <div class="title">{{item.title}}</div>
      </div>
      <div class="descr accent-color">{{item.description}}</div>
    </div>
  </div>
</section>
<section class="home-2 bg-list-lighter-color">
  <div class="intro">
    <img src="/assets/images/home/site-name-logo.svg" alt="">
    <h3>
        передовая партнерская программа в зарубежной образовательной нише с опытом работы более семи лет.
    </h3>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="space-between">
    <div class="content-left" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px">
      <div class="country-item bg-light-color" *ngFor="let country of countryList">
        <img [src]="country.img" alt="">
      </div>
    </div>
    <div class="content-right">
        Мы предоставляем услуги написания различных письменных работ для студентов из США, Канады, Австралии, Великобритании. <br><br>
        У нас есть команда из 200+ квалифицированных авторов академических работ, которые качественно напишут любой реферат, эссе, курсовую, и даже диссертацию. <br><br>
        Таким образом наши партнеры получают в среднем 7 заказов с каждого клиента , высокие отчисления, и самый большой средний чек - $130. <br><br>
    </div>
  </div>

</section>