section
  &.home-1
    padding-top: 35px
    padding-bottom: 60px
    h1
      &:first-child
        margin-bottom: 10px
    .banner
      width: 100%
      height: 140px
      background-image: url('/assets/images/home/home-1-banner.svg') 
      background-repeat: no-repeat
      background-position: center
      margin-top: 90px
      margin-bottom: 80px
    .scroll-icon
      margin: 50px auto
      display: block
    .card
      width: 240px
      padding: 38px
      background-repeat: no-repeat
      background-position: center
      justify-content: space-between
      img
        align-self: flex-start
      .content
        display: flex
        .badge
          margin-right: 5px
        .title
          font-size: 48px
          text-align: center
      .descr
        align-self: flex-end
        text-transform: capitalize

      &.card-payments
        .content
          .title
            font-size: 30px
            max-width: 140px
  &.home-2
    padding: 90px 400px
    height: 700px
    box-sizing: border-box    
    background-image: url('/assets/images/home/home-2-world-map.svg')
    background-repeat: no-repeat
    background-position: center calc(100% - 20px)
    .intro
      width: 55%
      margin-bottom: 40px
      position: relative
      img
        position: absolute
        top: -7px
        left: 0
      h3  
        text-indent: 310px
        text-align: left
    .content
      .content-left
        .country-item
          width: 60px
          height: 60px
          padding: 20px 13px
          box-sizing: border-box
      .content-right
        width: 450px
