<article class="eaf-date-picker-panel bg-main-color" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
  <div class="title accent-color">{{ title | translate }}</div>

  <div class="sub-title accent-color" fxHide.xs>Event:</div>
  <div *ngIf="dropdownList" eafDropdown class="dropdown-menu">
    <div class="dropdown-select">
      {{ selectedDropdownItem | translate }}
    </div>
    <ul class="dropdown-list">
      <li class="dropdown-list__item" *ngFor="let item of dropdownList" (click)="onChangeDropdownItem(item)">
        {{ item | translate }}
      </li>
    </ul>
  </div>

  <div class="sub-title accent-color" fxHide.xs>Выбрать другой день:</div>
  <div class="sub-title light-color" fxHide.gt-xs>from {{ dateInput | date:'dd MMMM y'}}</div>
  <div class="term-group" fxLayout="row" fxLayoutAlign="start center">
    <div class="term-selector" (click)="picker1.open()">
      <div class="term-selector-wrapper"></div>
      <input 
      matInput 
      [matDatepicker]="picker1" 
      [max]="MAX_DATE"
      [formControl]="date">
      <mat-datepicker #picker1></mat-datepicker>
    </div>
  </div>
    
  <div class="action-item panel-item" (click)="onSubmit()">
    {{'показать' | uppercase}}
  </div>
</article>